@import 'sassVariables';
@import 'sassMixins';
@import 'header';
@import 'aside';
@import 'main';

  body {
    font-family: courier,arial,helvetica;
  }

  .login-wrapper {
    @include set-height-and-width(90vh, 100vw);
    @include flex-display(column, center);
  }

  .login-welcome-message {
    @include font-size(1.5rem);
    margin: 0%;
    padding: 3rem;
  }

  .login-form {
    background-color: $blue-steel;
    border: $solid-black-border;
    @include flex-display(column, center);
    @include set-height-and-width(20rem, 50rem)
  }

  .form-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gold-card;
    @include set-height-and-width(5rem, 50%);
  }

  .login-error-message {
    @include font-size(1.5rem);
    margin: 0%;
  }

  .login-submit {
    color: $gold-card;
    @include font-size(1.5rem);
  }

  .input-heading {
    display: inline;
    color: $blue-steel;
  }

  .login-header {
    @include flex-display(column, center);
    @include set-height-and-width(10rem, 50rem)
  }

  .full-content-wrapper {
    font-family: courier,arial,helvetica;
    display: none;
    height: 100vh;
    grid-template-columns: .2fr 1.8fr;
    grid-template-rows:  .1fr 1.9fr;
    grid-template-areas:
      "header header"
      "aside main";
  }

  header {
    display: flex;
    justify-content: space-around;
    border: $solid-black-border;
    background-color: #77B33E;
    grid-area: header;
  }

  aside {
    @include flex-display(column, center)
    background-color: $blue-steel;
  }

  .my-trips {
    @include flex-display(column, center)
    overflow-y: scroll;
    border: $solid-black-border;
    height: 45rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-area: aside;
  }

  main {
    @include flex-display(column, center)
    background-color: $blue-steel;
    grid-area: main;
  }

  form {
    @include flex-display(column, center)
    margin-bottom: 1rem;
  }

  section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    overflow-y: scroll;
    grid-gap: 1rem;
    @include set-height-and-width(42rem, 90%);
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    @include set-width-only(16rem);
  }

  .input-wrapper:nth-child(1) {
    @include set-width-only(18rem);
  }

  .trip-submit-wrapper {
    display: flex;
    justify-content: space-around;
    @include set-width-only(20rem);
  }

  #duration,
  #travelers {
    @include set-width-only(9rem)
    margin-right: -2rem;
  }

  h1 {
    color: $blue-steel;
    font-size: 3rem;
  }

  h2 {
    @include font-size(1rem);
    color: $blue-steel;
  }

  .trips-header,
  .money-spent,
  label {
    color: #fff;
  }

  button {
    border-radius: .3rem;
    margin: 1rem;
    color: $blue-steel;
    background-color: green;
  }

  .reserve-button {
    width: 6rem;
    height: 3rem;
    color: #fff;
  }
  .date-and-duration {
    @include font-size(.7rem);
  }

  .destination-name {
    @include font-size(.8rem);
  }

  .calculate-cost,
  .submit {
    border-radius: 1rem;
    margin: 1rem;
    color: $blue-steel;
    background-color: #F4EF0E;
    height: 3rem;
    width: 8rem;
  }

  .destination-card {
    @include flex-display(column, center);
    background-color: #F0CB1F;
    border: $solid-black-border;
    height: 20rem;
  }

  .trip-card {
    @include flex-display(column, center);
    background-color: gold;
    border: $solid-black-border;
    @include set-height-and-width(400px, 15rem);
  }

  .trip-image {
    background-color: #ffffff;
    border: $solid-black-border;
    @include set-height-and-width(13rem, 13rem);
  }
