@import 'sassVariables';
@import 'sassMixins';
@import 'header';
@import 'aside';
@import 'main';
@import 'loginPage';
@import 'normalize';

  body {
    font-family: courier,arial,helvetica;
  }

  @media only screen and (max-width: 1380px) {
    section {
      grid-template-columns: 2fr 2fr 2fr;
    }
  }

  @media only screen and (max-width: 1090px) {
    section {
      grid-template-columns: 2fr 2fr;
    }

    .money-spent {
      @include font-size(.8rem);
    }

    .welcome-msg,
    .company-name {
      @include font-size(2rem);
    }
  }

  @media only screen and (max-width: 885px) {
    section {
      grid-template-columns: 2fr;
    }

    .money-spent {
      @include font-size(.8rem);
    }

    .welcome-msg,
    .company-name {
      @include font-size(2rem);
    }
  }

  @media only screen and (max-width: 825px) {
    .login-header,
    .login-form {
      @include set-width-only(500px)
    }

    .login-welcome-message,
    .login-error-message {
      @include font-size(1rem);
    }
  }

  @media only screen and (max-width: 765px) {
    .welcome-msg {
      display: none
    }

    .company-name {
      @include font-size(3rem);
    }
  }

  @media only screen and (max-width: 620px) {
    .full-content-wrapper {
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows:  1fr 1fr 1fr;
      grid-template-areas:
        "header"
        "main"
        "aside"
    }

    .company-name {
      @include font-size(1.5rem);
    }

    .trip-details {
      @include set-height-and-width(2rem, 100%);
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 525px) {
      .login-header,
      .login-form {
        @include set-width-only(380px);
      }

      .login-header {
        height: 100px;
      }

      .login-welcome-message,
      .login-error-message {
        @include font-size(.9rem);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }

      .input-heading {
        display: none;
      }
    }
  }
