@import 'sassVariables';
@import 'sassMixins';
@import 'header';
@import 'aside';
@import 'main';

  body {
    font-family: courier,arial,helvetica;
    display: grid;
    height: 100vh;
    grid-template-columns: .2fr 1.8fr;
    grid-template-rows:  .1fr 1.9fr;
    grid-template-areas:
      "header header"
      "aside main";
  }

  header {
    display: flex;
    justify-content: space-around;
    border: $solid-black-border;
    background-color: #77B33E;
    grid-area: header;
  }

  aside {
    @include flex-display(column, center)
    background-color: $gold-card;
  }

  .my-trips {
    @include flex-display(column, center)
    overflow-y: scroll;
    border: $solid-black-border;
    height: 45rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-area: aside;
  }

  main {
    @include flex-display(column, center)
    background-color: $gold-card;
    grid-area: main;
  }

  form {
    @include flex-display(column, center)
    margin-bottom: 1rem;
  }

  section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    overflow-y: scroll;
    grid-gap: 1rem;
    @include set-height-and-width(42rem, 90%);
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    @include set-width-only(16rem);
  }

  .input-wrapper:nth-child(1) {
    @include set-width-only(18rem);
  }

  .trip-submit-wrapper {
    display: flex;
    justify-content: space-around;
    @include set-width-only(20rem);
  }

  #duration,
  #travelers {
    @include set-width-only(9rem)
    margin-right: -2rem;
  }

  h1 {
    color: $blue-steel;
    font-size: 3rem;
  }

  h2 {
    @include font-size(2.5rem);
  }

  .trips-header,
  .money-spent,
  label {
    color: #ffffff;
  }

  button {
    border-radius: .3rem;
    margin: 1rem;
    color: $blue-steel;
    background-color: green;
  }

  .reserve-button {
    width: 6rem;
    height: 3rem;
    color: #ffffff;
  }
  .date-and-duration {
    @include font-size(.7rem);
  }

  .destination-name {
    @include font-size(.8rem);
  }

  .calculate-cost,
  .submit {
    border-radius: 1rem;
    margin: 1rem;
    color: $blue-steel;
    background-color: #F4EF0E;
    height: 3rem;
    width: 8rem;
  }

  .destination-card {
    @include flex-display(column, center);
    background-color: #F0CB1F;
    border: $solid-black-border;
    height: 20rem;
  }

  .trip-card {
    @include flex-display(column, center);
    background-color: gold;
    border: $solid-black-border;
    @include set-height-and-width(400px, 15rem);
  }

  .trip-image {
    background-color: #ffffff;
    border: $solid-black-border;
    @include set-height-and-width(13rem, 13rem);
  }
