

  body {
    font-family: courier,arial,helvetica;
    display: grid;
    height: 100vh;
    grid-template-columns: .2fr 1.8fr;
    grid-template-rows:  .1fr 1.9fr;
    grid-template-areas:
      "header header"
      "aside main";
  }

  header {
    display: flex;
    justify-content: space-around;
    border: solid black;
    background-color: #77B33E;
    grid-area: header;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #325084;
  }

  .my-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border: solid black;
    grid-area: aside;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #325084;
    grid-area: main;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    overflow-y: scroll;
    grid-gap: 1rem;
    height: 40rem;
    width: 90%;
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 16rem;
  }

  .input-wrapper:nth-child(1) {
    width: 18rem;
  }

  .trip-submit-wrapper {
    display: flex;
    justify-content: space-around;
    width: 20rem;
  }

  #duration,
  #travelers {
    width: 9rem;
    margin-right: -2rem;
  }

  h1 {
    color: #194A9B;
    font-size: 3rem;
  }

  .trips-header,
  .money-spent,
  label {
    color: #ffffff;
  }

  button {
    border-radius: .3rem;
    margin: 1rem;
    color: #194A9B;
    background-color: green;
  }

  .reserve-button {
    width: 6rem;
    height: 3rem;
    color: #ffffff;
  }
  .date-and-duration {
    font-size: .7rem;
  }

  .destination-name {
    font-size: .8rem;
  }

  .calculate-cost,
  .submit {
    border-radius: 1rem;
    margin: 1rem;
    color: #194A9B;
    background-color: #F4EF0E ;
    height: 3rem;
    width: 8rem;
  }


  .destination-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0CB1F;
    border: solid black;
    height: 20rem;
  }

  .trip-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: gold;
    border: solid black;
    width: 15rem;
    height: 400px;
  }

  .trip-image {
    background-color: #ffffff;
    border: solid black;
    height: 13rem;
    width: 13rem;
  }
